{% extends 'base.html' %}

{% block title %}Rate An Outfit{% endblock %}

{% block body %}
    <h1>Rate this outfit</h1>

    <div>
        <img src="{{ outfit.picture.url }}" style="max-width: 100px; max-height: 100px"/>
    </div>

    <form id='rating' method="POST" action="/outfits/rate-an-outfit/{{ outfit.id }}/">
        {% csrf_token %}
        <ul>
            <li><input type="radio" name="rating" value="1"/>*</li>
            <li><input type="radio" name="rating" value="2"/>**</li>
            <li><input type="radio" name="rating" value="3"/>***</li>
            <li><input type="radio" name="rating" value="4"/>****</li>
            <li><input type="radio" name="rating" value="5"/>*****</li>
        </ul>
        <input type="text" name="message"/> <br/>
    </form>
    <input type="button" value="Send rating" onclick="submit()">

{% endblock %}

{% block javascript %}
    <script src="http://cdn.pubnub.com/pubnub.min.js"></script>

    <script>
        var pubnub = PUBNUB.init({
            publish_key: "{{ pubnub_publish_key }}",
            subscribe_key: "{{ pubnub_subscribe_key }}"
        });

        pubnub.time(
                function (time) {
                    console.log(time); // examples ;)
                }
        );

        function submit() {
            // Publish rating

            var rating = $('#rating [name=rating]:checked').val();
            var message = $('#rating [name=message]').val();

            if (rating == undefined)
                return;

            var msg = '{{ user.username }}:' + rating + ':' + message;
            pubnub.publish({
                channel: 'rate-outfit-{{ outfit.id }}',
                message: msg
            });

            //document.forms[0].submit();
        }
    </script>
{% endblock %}
